<?xml version="1.0" encoding="UTF-8"?>
<!-- disable strict to debug tests -->
<phpunit bootstrap="./Bootstrap.php"
         colors="true"
         strict="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="true"
         syntaxCheck="true"
         backupGlobals="true"
         backupStaticAttributes="false">

    <testsuites>
        <testsuite name="Sake EasyConfig Test Suite">
            <directory>./SakeTest/EasyConfig</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./../config</directory>
            <directory suffix=".php">./../src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./log/report/"
             charset="UTF-8" yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70" showUncoveredFiles="true" />
        <log type="testdox-html" target="./log/testdox.html" />
    </logging>

</phpunit>
